<header id="header">
    <div class="box">
        <h1 id="logo">beihe<h1>
        <p id="blog-description">天朝草民的blog</p>
        <form action="/list.html" id="search-bar">
            <input name="searchInput" type="text" id="search-input" />
            <input type="submit" value="search" id="search-submit" />
        </form>
    </div>
</header>

