body,dl,dd,p,blockquote,ul,ol,pre,form,h1,h2,h3,h4,h5,h6{margin:0;}
ul,ol,th,td{padding:0;}
ul{list-style:none;}
table{border-collapse:collapse;}
strong,b{font-weight:normal;}
i,em,cite{font-style:normal;}
