<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <header>node blog</header>
    <div>
        <form action="login.html" method="post">
            <div>
                <lable for="user-name">用户名:</lable>
                <input id="user-name" name="userName" type="text" />
            </div>
            <div>
                <lable for="user-pwd">密码:</lable>
                <input id="user-pwd" name="userPWD" type="password" />
            </div>
            <div>
                <input type="submit" value="登陆" />
                <a href="##">忘记密码</a>
            </div>
        </form>
    </div>
    <footer></footer>
</body>
</html>
