<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制中心</title>
</head>
<body>
    <div id="wrapper">
        <header>node blog</header>
        <div id="content">
            <dl>
                <dt>概况</dt>
                <dd>
                   <p>文章总计<span></span>篇</p>
                </dd>
            </dl>
        </div>
        <footer>power by itbeihe</footer>
    </div>
    <aside id="side-bar">
        <dl class="side-cell">
            <dt>文章管理</dt>
            <dd>
                <ul>
                    <li>
                        <a href="">添加文章</a>
                    </li>
                    <li>
                        <a href="">管理文章</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="side-cell">
            <dt>设置</dt>
            <dd>
                <ul>
                    <li>
                        <a href="">常规设置</a>
                    </li>
                    <li>
                        <a href="">个人设置</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </aside>
</body>
</html>
